*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

:focus{
    outline: 0; 
    box-shadow: 0 0 0 2px #009cea;
}

body{ 
   background-color:#f4f6fa; 
   color: #2b2b2b; 
   --webit-font-smoothing: antialiased; 
   display: flex; 
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

body,input,textarea, button { 
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

main { 
    background: #ffffff;
    width: 45rem; 
    height: max-content;
    margin: 2rem; 
    padding: 2.5rem; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main header { 
    display: flex;
    flex-direction: column;
}

main header h1 {
    font-weight: 500 bold; 
    font-size: 2rem; 
}