*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

:focus{
    outline: 0; 
    box-shadow: 0 0 0 2px #009cea;
}

body{ 
   background-color:#f4f6fa; 
   color: #2b2b2b; 
   --webit-font-smoothing: antialiased; 
   display: flex; 
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

body,input,textarea, button { 
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

main { 
    background: #ffffff;
    width: 55rem; 
    height: min-content;
    margin: 6rem; 
    padding: 2.5rem; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.35) 4.5px 6px 15px;
    overflow: hidden;
}

main header { 
  width: 100%; 
  display: flex; 
  justify-content: space-between;
  margin-bottom: 1rem;
}

main header > div { 
  display: flex; 
  flex-direction: column;
  gap: 0;
}

main header h1 {
    font-weight: 500 bolder; 
    font-size: 1.8rem; 
}

main header span {
    color: gray; 
}

main header span strong{
    color: rgb(53, 53, 235);
}

main header p { 
    color: rgb(53, 53, 235); 
}

main .conteudo { 
    display: flex; 
    gap: 1rem; 
}

main .conteudo aside { 
    width: 80%;
    height: min-content;
    align-items: center; 
    margin-right: 0.7rem;
}

main .conteudo aside img { 
    width: 13rem; 
}

main .conteudo aside .infoCompra { 
    display: flex; 
    justify-content: space-between;
    margin-top: 1rem; 
}

main .conteudo aside .infoCompra  { 
    display: flex; 
    align-items: center;
}

main .conteudo aside .infoCompra p{ 
    font-size: 1.2rem;
    font-weight: bold;
}

main .conteudo aside .infoCompra button { 
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 1rem;
    font-weight: bold;
    background: transparent;
}

main .conteudo article h2{ 
   font-size: 1.1rem; 
   font-weight: bold;
   line-height: 1.8;
}

main .conteudo article p { 
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}



main .conteudo article section{ 
    display: flex; 
    gap: 1.7rem; 
}

main .conteudo article section div{
    display: flex; 
    flex-direction: column;
    
}

main .conteudo article section div h3{
    margin-bottom: 0.3rem;
   

}

main .conteudo article section div a{ 
    text-decoration: none;
    line-height: 1.4;
    color:#187cae;
}

main .conteudo article button { 
    width: 100%; 
}


