*{ 
    margin:0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif; 
}

header{ 
    width: 100vw;
}

picture img{ 
  width: 9.5em;
  padding: 1.5em;
}

aside img { 
    width: 100vw; 
}

aside .desktop{ 
    display: none; 
}

main{ 
    width: 100vw; 
}

.main_text{ 

    display: flex; 
    flex-direction: column;
    text-align: center;
    margin-top: 3em;
}

.main_text h1{ 
    color: hsl(0, 6%, 24%); 
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 2.9em;
}

.main_text span{ 
    color: hsl(0, 36%, 70%);
    font-weight: 300;
    font-size: 0.8em; 
}

.main_text h2{ 
    color: hsl(0, 36%, 70%); 
    font-size: 0.9em;
    padding: 1.5em; 
    text-align: center;
}

.main_email{ 
    width: 100vw; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.email{ 
    width: 19em;
    height: 3em; 
    border-color: hsl(0, 48%, 76%);
    border-radius: 1em;
    position:absolute; 
}

.button_decora{ 
    padding: 0.9em; 
    border-radius: 1.5em;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none; 
    position: relative; 
    width: 4.5em;
    left: 10em;
}

input::placeholder{ 
    color:hsl(0, 80%, 86%);
    padding: 1em;
}

@media(min-width: 600px) { 
    aside .mobile{ 
        display: none; 
    }
    aside .desktop{
        display: flex;
       position:sticky;
       -webkit-flex: 1;-ms-flex: 1;flex: 1;
    }
}
